.content
{
  grid-area: c;
  background-color: peru;
}

.contentImg
{

width: 500px;
margin: 0 auto;
}
.pug
{
width: 300px;
}
.listMain
{
  color: rgb(93, 20, 211);  
}
.list
{
  list-style: none;
  text-decoration: none;
}
